@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-monospace;
  }
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: default;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset; 
  box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset; 
  box-shadow: 0 0 0px 1000px black inset;
  -webkit-text-fill-color: white;
}
